body{
  background-image: url("https://media.istockphoto.com/photos/math-physics-formulas-picture-id925167552?k=6&m=925167552&s=612x612&w=0&h=Zp7xS2oxdv-E8gw_0uwNXDCtjeuEFS41YGzhlUHqbKU=");
}

#titleName
{
  color: white;
  padding: 50px 40px;
  height:30px;
  font-size:30px;
  text-align: center;
  font-family: "Verdana";
}

#presentationBox
{
  background: #EDDDC8;
  padding:0;
  margin:0;
  overflow:auto;
  opacity:0.9;
  color:black;
  font-family:Verdana;
  font-size:15px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left:50px;
  margin-right:50px;
}

#listOfPresentations
{
  background: #EDDDC8;
  padding:0;
  margin:0;
  overflow:auto;
  opacity:0.9;
  color:black;
  font-family:Verdana;
  font-size:15px;
  padding-left:50px;
  padding-right:50px;
}

#copyrightBox
{
  margin-top:50px;
  background: black;
  overflow:auto;
  opacity:1;
  color:white;
  font-family:Verdana;
  font-size:10px;
  width:100%;
  text-align:center;

}


.dropbtn {
  z-index: 1000;
  position:fixed;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  z-index: 1000;
  position:fixed;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  padding-top:50px;
  display: none;
  position:fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  font-family: "Verdana";
  font-size:15px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

#mainGallery
{
  text-align: center;
}

div.gallery {
  display:inline-block;
  margin-top:10px;
  padding-top: 10px;
  margin-left:5px;
  margin-right:5px;
  width: 500px;
  background-color: #EDDDC8;
}



div.gallery img {
  width: 100%;
  height:500px;
}

div.desc {
  padding: 15px;
  text-align: center;
}
* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
