
body{
  background-image: url("https://media.istockphoto.com/photos/math-physics-formulas-picture-id925167552?k=6&m=925167552&s=612x612&w=0&h=Zp7xS2oxdv-E8gw_0uwNXDCtjeuEFS41YGzhlUHqbKU=");
}

#titleName
{
  color: white;
  padding: 100px 40px;
  height:50px;
  font-size:60px;
  text-align: center;
  font-family: Georgia;
}


#summaryBlock
{
  background: #EDDDC8;
  padding:0px;
  margin:50px;
  overflow:auto;
  opacity:0.9;
  color:black;
  font-family:Verdana;
  font-size:15px;
}
#summaryBlockText
{
  padding-left: 100px;
  padding-right: 100px;
}

#aboutBlock
{
  background: #EDDDC8;
  padding:0;
  margin:50px;
  overflow:auto;
  opacity:0.9;
  color:black;
  font-family:Verdana;
  font-size:15px;
  padding-top:20px;
  padding-left: 100px;
  padding-right: 100px;
}

#calendarBlock
{
  float:center;
  background: #EDDDC8;
  padding:0;
  margin:50px;
  overflow:auto;
  opacity:0.9;
  color:black;
  font-family:Verdana;
  font-size:15px;
  padding-top:20px;
  padding-left: 100px;
  padding-right: 100px;
  height:700px;
}

#copyrightBox
{
  background: black;
  overflow:auto;
  opacity:1;
  color:white;
  font-family:Verdana;
  font-size:10px;
  width:100%;
  text-align:center;

}


/* Dropdown Button */
.dropbtn {
  z-index: 1000;
  position:fixed;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  z-index: 1000;
  position:fixed;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  padding-top:50px;
  display: none;
  z-index: 1;
  position:fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
